# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
pandas_env/

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables / secrets
.env
*.env

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/
